
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}

textarea label {
  box-sizing: border-box !important;
  background-color: #000 !important;
  color: #fff !important;
  border: none !important;
  outline: none !important;
}

.input {
  box-sizing: border-box !important;
  background-color: #000 !important;
  color: #fff !important;
  border: none !important;
  outline: none !important;
}

.input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
